body {
    background-color: black;
    overflow: hidden;
    margin: 0; /* Remove default body margin */
    padding: 50px;
 
}
.container {
  display: flex;
  align-items: stretch;  
  justify-content: center;
  height: 90vh;     

}
#left-controls,
#right-controls {
    margin: 55px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
#right-arrow {
    transform: rotate(180deg); 
}

#comparison {
    flex-grow: 1;
    position: relative; 
    overflow: hidden;
}



figure {
  background-image: url(./images/Kuvapari_1A.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 101%;
  margin: 0;
  z-index: 1; 
}

#divisor {
  background-image: url(./images/Kuvapari_1B.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;

  position: absolute;
  width: 100%; 
  height: 100%;
  z-index: 2; 
  overflow: hidden; 
  clip-path: inset(0 0 0 0); 
 
}

  #handle {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 3;
    
    &::before,
    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 6px inset transparent;
      position: absolute;
      top: 50%;
      margin-top: -6px;
    }
    &::before {
      border-right: 6px solid white;
      left: 50%;
      margin-left: -17px;
    }
    &::after {
      border-left: 6px solid white;
      right: 50%;
      margin-right: -17px;
    }
  }
  
  input[type=range]{
      -webkit-appearance:none;
      -moz-appearance:none;
      position: absolute;
      top: 50%; left: -25px;
    transform: translateY(-50%);
      background-color: transparent;
      width: calc(100% + 50px); 
    z-index: 2;
    
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1600px;
    width: 50px;
    border-radius: 50%;
    display: inline;
    background: transparent;
    border: 4px solid #ffffff00;

  }
  input[type=range]::-moz-range-track {
      -moz-appearance:none;
      height:15px;
      width: 100%;
      background-color: transparent; 
      position: relative;
      outline: none;    
  }